node_modules
.env
.DS_Store

client/node_modules
client/dist
client/.env

server/node_modules
server/.env
uploads/properties/*
!uploads/properties/.gitkeep

backend/node_modules
backend/uploads
frontend/node_modules
frontend/dist
