PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/mahadev_property
CLIENT_URL=http://localhost:5173
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
ADMIN_REGISTRATION_KEY=change_admin_key
MAX_FILE_SIZE_MB=5
